@media screen and ( max-width: 425px){
	section{
		background-color: pink;
	}
	
	h1{
	color: pink;
	}
}

@media screen and ( max-width: 768px){
	section{
		background-color: purple;
	}
	
	h1{
	color: purple;
	}
	
}

@media screen and ( max-width: 768px){
	section{
		background-color: purple;
	}
	
	h1{
	color: purple;
	}
	
}